#blog-list {
    border: 1px dashed #bbb7b7;
}

#loadMore {
    display: block;
    font-weight: 800;
    color: #556677; 
    font-size: 1.6em;
    line-height: 220%;
}

#loadMore a:link{
    color: #556677;
}